/*  styles.css - stylesheet for Palindrome Detector
    Author: Cathryn Griffiths - cathryn.griffiths@gmail.com - github.com/escrimeuse/
    */

body {
	font-family: Verdana;
	background-color: #443266;
} 

.container {
	margin-left: auto;
	margin-right: auto;
	width:50%;
	text-align:center;
	background-color:white;
	border-radius: 5px;
}

.myButton {
	font-family: Verdana;
	border: 1px solid #443266;
	background: white;
	border-radius:3px;
}

.myButton:hover {
	font-family: Verdana;
	color:white;
	border: 1px solid #443266;
	background: #443266;
	border-radius:3px;
}

blockquote {
	color:grey;
}

.define {
	color:grey;
}

hr {
	background-color: #443266;
    border: 0px;
    height: 3px;
}

h1 {
	padding-top: 15px;
}

textarea {
    font-family:Verdana;
    border-radius: 3px;
}